<div class="container">
    <form name="registerForm" novalidate class="simple-form" ng-submit="register(user)">
        Email: <input type="email" name="email" ng-model="user.email" class="form-control" required />
        <span class="error" ng-show="registerForm.email.$dirty && registerForm.email.$invalid">
            <span ng-show="registerForm.email.$error.required">Email is required.</span>
            <span ng-show="registerForm.email.$error.email">Invalid email address.</span>
        </span>
        <br />
        UserName: <input type="text" name="username" ng-model="user.name" class="form-control" required />
        <span class="error" ng-show="registerForm.username.$dirty ">
            <span ng-show="registerForm.username.$error.required">UserName is required.</span>
        </span>
        <br />
        Password: <input type="password" name="password" ng-model="user.password" class="form-control" required />
        <span class="error" ng-show="registerForm.password.$dirty ">
            <span ng-show="registerForm.password.$error.required">Password is required.</span>
        </span>
        <br />
        Confirm Password: <input type="password" name="confirmp" ng-model="user.confirm" class="form-control" required />
        <span class="error" ng-show="registerForm.confirmp.$dirty  ">
            <span ng-show="registerForm.confirmp.$error.required">Password is required.</span>
            <span ng-show="user.password != user.confirm">Passwords do not match.</span>
        </span>
        <br />
        <input type="submit" class="btn btn-primary" value="register"
               ng-disabled=" registerForm.$invalid || (user.password !=user.confirm) " />
    </form>
</div>
