<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Technight.Server.Properties.Settings.sqldevConnectionString"
            connectionString="Data Source=tcp:maawtlhk9z.database.windows.net,1433;Initial Catalog=sqldev;User ID=technight@maawtlhk9z"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>